{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row banner main">
    <div class="col-md-1"></div>
    <div class="col-md-11 padding-none">
        <h1>Catalog App</h1>
    </div>
</div>
<div>
    <div class="col-md-12 catalog-list">
        <h3>{{item.name}}</h3>
    </div>
    <div class="col-md-12 catalog-list">
        <h2>{{item.description}}</h2>
    </div>
    <a href='{{url_for('editCatalogItem', category_id = catalog_id, catalog_id = item.id) }}'>
        <button class="btn btn-default" id="edit-item">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit
        </button>
    </a>
    <a href='{{url_for('deleteCatalogItem', category_id = catalog_id, catalog_id = item.id) }}'>
        <button class="btn btn-default delete" id="delete-item">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>Delete
        </button>
    </a>
</div>
<div class="row padding-top padding-bottom">
    <div class="col-md-12"></div>
</div>



{% endblock %}